{% extends 'products/home.html' %}
{% block content %}


<div class="col-12">
    <form class="row" method="post" enctype="multipart/form-data">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        Профиль
                    </h3>
                </div>
                <div class="card-body">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% if object.supplier_id %}
                    <p>
                        <a href="{% url 'users:user_detail' object.supplier_id %}">Ссылка на профиль поставщика</a>
                    </p>
                    {% endif %}

                    <button type="submit" class="btn btn-success">Сохранить</button>

                    {% if user.is_staff or user.is_superuser %}
                        <a type="submit" class="btn btn-success" href="/admin/">Админ панель</a>
                    {% endif %}
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
    </form>
</div>
{% endblock %}